[access]
	inheritFrom = All-Projects
[project]
	description = This repository contains Use cases for  VNFs for use with the ONAP platform.
[access "refs/*"]
	owner = group ldap/onap-gerrit-vnfrqts-usecases-committers
	owner = group saml/onap-gerrit-vnfrqts-usecases-committers
	read = group GitHub Replication
